.pinkBG{
    background-color: pink;
}
div{
    background-color: aqua;
}

.greenBG{
    background-color: green;
}
.yellowBG{
    background-color: yellow;
}
.redBG{
    background-color: red;
}
.blueBG{
    background-color: blue;
}
.whiteBG{
    background-color: white;
}